<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="modit.wificar" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ModitTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity_"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.VideoActivity_"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.WifiActivity_"
            android:label="@string/title_activity_wifi" >
        </activity>
        <activity
            android:name=".activity.WebViewActivity_"
            android:label="@string/title_activity_wifi"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.LauncherActivity_"
            android:label="@string/title_activity_wifi"
            android:screenOrientation="landscape" >
        </activity>

        <receiver android:name=".receiver.Wifistate_" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>
